body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background: #111111;
    color: #DDDDDD;
}

a {
    color: #DDDDDD;
}

/*.tappy {
    background: #333333;
    width: 100%;
    height: 50%;
    min-width: 500px;
    min-height: 200px;

    width: 100%;
    height: 100px;
}
*/

.tappy {
    background: #CCCCCC;
    width: 100%;
    height: 20%;
    min-width: 500px;
    min-height: 180px;
    margin-bottom: 20px;
}

.tappy:active {
    background: #EEEEEE;
    opacity: 1.0;
}

#tappy0 {
    opacity: 0.15;
}
#tappy0:active {
    opacity: 1.0;
}

#tappy1 {
    opacity: 0.3;
}
#tappy1:active {
    opacity: 1.0;
}

#tappy2 {
    opacity: 0.45;
}
#tappy2:active {
    opacity: 1.0;
}

#tappy3 {
    opacity: 0.6;
}
#tappy3:active {
    opacity: 1.0;
}

#tappy4 {
    opacity: 0.75;
}
#tappy4:active {
    opacity: 1.0;
}

#tappy5 {
opacity: 0.9;
}
#tappy5:active {
opacity: 1.0;
}

.debugArea {
display: none;
}

#credits {
  font-size: 90%;
}

.channels {
width: 200px;
height: 100%;
position: absolute;
right: 0;
top: 0;
background: rgba(0, 0, 0, .1);
}

.channel {
width: 200px;
height: 200px;
        text-align: center;
background: rgba(0, 0, 0, .1);
}

.channel-name {
  padding-top: 30px;
  font-weight: 700;
}

.channel-value {
  padding-top: 40px;
  font-weight: 300;
}

.channel-flex {
  background: rgba(11, 102, 35, 0.1) !important;
}

.channel-bpm {
  background: rgba(255, 0, 0, 0.1) !important;
}

.channel-eda {
  background: rgba(0, 0, 255, 0.1) !important;
}
