body {
    text-align: center;
    /*background: white;*/
    /*color: black;*/
}

#disp_player {
    font-family: Courier, monospace;
    font-size: 125%;
    color: white;
    background: black;
    margin: 20px 5px;
    white-space: pre-wrap;
    min-width: 100%;
}

#disp_conductor {
    font-family: Courier, monospace;
    font-size: 125%;
    color: black;
    background: white;
    margin: 20px 5px;
    white-space: pre-wrap;
    min-width: 100%;
}

.debugArea {
    display: none;
}

/*#praeludiumResolutions {

}*/


img {
    max-width: 100%;
    max-height: 100%;
}

div.popover.fade.in {
    max-width: 100%;
}

div.popover-content {
    max-width: 100%;
}

#how {
    font-size: 125%;
}