<!DOCTYPE HTML>
<html>
<head>
    <title>bfp::conductor</title>

    <!-- Flask -->
    {{ JSGlue.include() }}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_bfp.css') }}">


    <!-- JS -->

    <!-- Defining paths -->
    <script type="text/javascript">
        // var pnoSamplesBasePath = {{url_for("static", filename="samples/pno")}};
        // console.log("pno samples: " + pnoSamplesBasePath);

        // $PNO_SAMPLES = {{url_for("static", filename="samples/pno")}};
        // console.log("pno samples: " + $PNO_SAMPLES);
    </script>

    <!-- Libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io-1.3.5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper-1.12.9.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='foswig.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='webmidi.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tone.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='StartAudioContext.js') }}"></script>

    <!-- Source -->
    <script type="text/javascript" src="{{ url_for('static', filename='bfp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bfp_conductor.js') }}"></script>

</head>
<body>
<!--     <div id="channels">
      <div id="channel-flex" class="channel">
        <div class="channel-name">Flex</div>
        <div id="flex" class="channel-value">0</div>
      </div>
      <div id="channel-bpm" class="channel">
        <div class="channel-name">BPM</div>
        <div id="bpm" class="channel-value">0</div>
      </div>
      <div id="channel-eda" class="channel">
        <div class="channel-name">EDA</div>
        <div id="eda" class="channel-value">0</div>
      </div>
    </div>
    <div id="flex"></div>
    <div id="eda"></div> -->
    


    <!-- <h1>bfp::conductor</h1> -->



<!--     <p>
        <div id="tappy"></div>
    </p> -->


    <img src="{{ url_for('static', filename='Summit-2018-invitation-header.png') }}">



    <br/><br/><br/><br/>

    <div id="startAudio">
        <div id="startAudioStatus">Audio is DISABLED (click here and wait to enable)</div>
        <br/>
        <div id="pnoSamplesStatus">Loading piano samples...</div>
        <div id="harpSamplesStatus">Loading harp samples...</div>
    </div>
    <!-- <p>
        <h2>Choose Song</h2>
            <select id="songSelect" name="broadcast_data">
                <option value="02. Moondrops_8x.mp3">moondrops</option>
                <option value="04. Orange Grey Skies_8x.mp3">orange grey skies</option>
                <option value="06. Poster Child_8x.mp3">poster child</option>
                <option value="08. Interlude_8x.mp3">interlude</option>
                <option value="10. Chant of the Craftspeople_8x.mp3">chant of the craftspeople</option>
                <option value="12. A New Home_8x.mp3">a new home</option>
                <option value="13. Orange Grey Skies (Reprise)_8x.mp3">orange grey skies (reprise)</option>
            </select>
    </p> -->
    <br/>
    <hr/>
    <br/>

    <h2>Texts:</h2>
    <div id="disp">
    <!-- <div id="bfpResolutions"> -->
    </div>

    <br><br>

    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <div class="debugArea">
        <h2>Send:</h2>
        <form id="emit" method="POST" action='#'>
            <input type="text" name="emit_data" id="emit_data" placeholder="Message">
            <input type="submit" value="Echo">
        </form>
        <form id="broadcast" method="POST" action='#'>
            <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
            <input type="submit" value="Broadcast">
        </form>
        <form id="join" method="POST" action='#'>
            <input type="text" name="join_room" id="join_room" placeholder="Room Name">
            <input type="submit" value="Join Room">
        </form>
        <form id="leave" method="POST" action='#'>
            <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
            <input type="submit" value="Leave Room">
        </form>
        <form id="send_room" method="POST" action='#'>
            <input type="text" name="room_name" id="room_name" placeholder="Room Name">
            <input type="text" name="room_data" id="room_data" placeholder="Message">
            <input type="submit" value="Send to Room">
        </form>
        <form id="close" method="POST" action="#">
            <input type="text" name="close_room" id="close_room" placeholder="Room Name">
            <input type="submit" value="Close Room">
        </form>
        <form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
        </form>
    </div>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
