<!DOCTYPE HTML>
<html>
<head>
    <title>listening to a collage for charon</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='foswig.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='webmidi.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                // Send MIDI
                // TODO: Construct list and Markov chain and all that good stuff
                if (midiEnabled) {
                    // Message data
                    console.log(msg.data);
                    var msgData = {};
                    try {
                        msgData = JSON.parse(msg.data);
                    }
                    catch (e) {
                        console.log("ERROR when parsing data for message '" + msg.data + "': " + e);
                        return;
                    }

                    // Only send MIDI if it's a tap
                    if (msgData["message"] == "tap") {
                        // Note
                        // TODO:
                        // - Current song selection
                        // - Markov
                        // var midiNote = midiNotes[Math.floor(msgData["degree"] * midiNotes.length)]
                        var degree = msgData["degree"];
                        var midiNotes = midiNotesBySong[getCurrSong()];
                        console.log(getCurrSong() + ": " + midiNotes);
                        var midiNote = midiNotes[Math.max(0, Math.min(degree, midiNotes.length))];
                        // var midiNote = midiNotes[Math.floor(Math.random() * midiNotes.length)];

                        // Channel
                        // TODO: Increment channel num and use modulo
                        var midiChannelNum = 0;
                        var sessionId = msgData["id"];
                        if (sessionIdToMidiChannelNum.hasOwnProperty(sessionId)) {
                            midiChannelNum = sessionIdToMidiChannelNum[sessionId];
                        }
                        else {
                            midiChannelNum = (numSessions % midiNumChannels) + 1;
                            console.log("new session: " + numSessions);

                            numSessions++;

                            // midiChannelNum = Math.floor(Math.random()*midiNumChannels) + 1;
                            sessionIdToMidiChannelNum[sessionId] = midiChannelNum;
                        }

                        // Send the MIDI output!
                        midiOutput.playNote(midiNote, midiChannelNum, {"duration": "100"});
                        console.log(sessionId + "," + midiNote + "," + midiChannelNum);
                        // midiOutput.playNote("C4");
                    }
                }

                // $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                // $('#log').html('Received #' + msg.count + ': ' + msg.data);

                var logMsg = "[" + new Date().toJSON() + "]: #" + msg.count + ": " + msg.data;
                if (mostRecentTaps.length >= numMostRecentTaps) {
                    // mostRecentTaps[msg.count % numMostRecentTaps] = logMsg;
                    mostRecentTaps.pop();
                }
                // else {
                    mostRecentTaps.unshift(logMsg);
                // }
                $("#log").html(mostRecentTaps.join("<br>"));
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#send_room').submit(function(event) {
                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            $('form#close').submit(function(event) {
                socket.emit('close_room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });

            // Update currSong with selected song
            $("#songSelect").change(function() {
                currSong = $("#songSelect option:selected").val();
                console.log(currSong);
            });

            // ================================
            // David's additions
            var midiEnabled = false;
            var midiOutputName = "IAC Driver Bus 1";
            var midiOutput;
            // var midiNotes = ["E4", "G4", "A4", "B4", "D5", "E5"];
            var midiNotesBySong = {
                "02. Moondrops_8x.mp3": ["E4", "G4", "A4", "B4", "D5", "E5"],
                "04. Orange Grey Skies_8x.mp3": ["G4", "Bb4", "C5", "D5", "F5", "G5"],
                "06. Poster Child_8x.mp3": ["C4", "Eb4", "F4", "G4", "Bb4", "C5"],
                "08. Interlude_8x.mp3": ["G4", "Bb4", "C5", "D5", "F5", "G5"],
                "10. Chant of the Craftspeople_8x.mp3": ["D4", "F4", "G4", "A4", "C5", "D5"],
                "12. A New Home_8x.mp3": ["A3", "D4", "G4", "A4", "C5", "D5"],
                "13. Orange Grey Skies (Reprise)_8x.mp3": ["A4", "B4", "C#5", "E5", "F#5", "A5"],
            };
            var midiNumChannels = 10;
            var sessionIdToMidiChannelNum = {};
            var numSessions = 0;
            var currSong = "02. Moondrops_8x.mp3";
            
            var mostRecentTaps = [];
            var numMostRecentTaps = 25;

            WebMidi.enable(function(err) {
                if (err) {
                    console.log("ERROR: " + err);
                    return;
                }
                else {
                    midiEnabled = true;
                    console.log("WebMidi enabled");

                    // console.log(WebMidi.inputs);
                    // console.log(WebMidi.outputs);

                    midiOutput = WebMidi.getOutputByName(midiOutputName);
                }
            });

            function getCurrSong() {
                return currSong;
            }

        });
    </script>
</head>
<body>
    <h1>listening to a collage for charon</h1>
<!--     <p>
        <div id="tappy"></div>
    </p> -->
    <br/>
    <p>
        <h2>Choose Song</h2>
        <!-- <form id="chooseSong" method="POST" action='#'> -->
            <!-- <input type="text" name="emit_data" id="emit_data" placeholder="Message"> -->
            <select id="songSelect" name="broadcast_data">
                <option value="02. Moondrops_8x.mp3">moondrops</option>
                <option value="04. Orange Grey Skies_8x.mp3">orange grey skies</option>
                <option value="06. Poster Child_8x.mp3">poster child</option>
                <option value="08. Interlude_8x.mp3">interlude</option>
                <option value="10. Chant of the Craftspeople_8x.mp3">chant of the craftspeople</option>
                <option value="12. A New Home_8x.mp3">a new home</option>
                <option value="13. Orange Grey Skies (Reprise)_8x.mp3">orange grey skies (reprise)</option>
                <!-- <option value="14. End Credits_8x.mp3"></option> -->
                <!-- <option value=".mp3"></option> -->
            </select>
            <!-- <input type="submit" value="Choose Song"> -->
        <!-- </form> -->
    </p>
    <br/>
    <hr/>
    <br/>

    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <div class="debugArea">
        <h2>Send:</h2>
        <form id="emit" method="POST" action='#'>
            <input type="text" name="emit_data" id="emit_data" placeholder="Message">
            <input type="submit" value="Echo">
        </form>
        <form id="broadcast" method="POST" action='#'>
            <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
            <input type="submit" value="Broadcast">
        </form>
        <form id="join" method="POST" action='#'>
            <input type="text" name="join_room" id="join_room" placeholder="Room Name">
            <input type="submit" value="Join Room">
        </form>
        <form id="leave" method="POST" action='#'>
            <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
            <input type="submit" value="Leave Room">
        </form>
        <form id="send_room" method="POST" action='#'>
            <input type="text" name="room_name" id="room_name" placeholder="Room Name">
            <input type="text" name="room_data" id="room_data" placeholder="Message">
            <input type="submit" value="Send to Room">
        </form>
        <form id="close" method="POST" action="#">
            <input type="text" name="close_room" id="close_room" placeholder="Room Name">
            <input type="submit" value="Close Room">
        </form>
        <form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
        </form>
    </div>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
